---
// Server Side
import MainLayout from "../layouts/MainLayout.astro";
import Headshot from "../images/BrettFull.jpg";
import Profile from "../components/Profile.astro";
const pClass = "mb-4 p-2 text-lg md:text-xl";
const aClass = "border-b hover:text-primary60 duration-200";
---

<MainLayout title="About">
  <h3 class="flex justify-around uppercase text-3xl mt-4 pb-8 md:text-4xl">
    About
  </h3>
  <div class="flex flex-col max-w-5xl m-auto">
    <div class="leading-relaxed">
      <p class={pClass}>
        Brett Austin Eastman is a composer, performing musician, <a
          href="https://www.bretteastman.dev/"
          class={aClass}
          target="_blank">software engineer</a
        >, and recording engineer whose music has been performed by Yarn/Wire
        and Del Sol String Quartet. He has recently been commissioned by
        Tingyuan Luo, Slow Wave, Keyed Kontraptions and Siroko Duo. He was a
        semifinalist in the NYC Contemporary Music Symposium competition of
        2021.
      </p>
      <p class={pClass}>
        As a concert curator, he recently co-produced a concert series with
        professional flutist, Jessie Nucho, featuring music for flute and
        electronics inspired by different forms of feedback. The first concert
        <a
          href="https://www.youtube.com/playlist?list=PLRDiqQA9ARRvqdbpj2EwppjEFiyToFvAR"
          class={aClass}
          target="_blank">“In Response”</a
        > was presented January 2020 and focused on the physical and emotional effects
        of feedback in dialog, in communication. In July 2021, they presented the
        second concert <a
          href="https://www.youtube.com/playlist?list=PLRDiqQA9ARRtXNc5Hfa1dWq4uOK8VhoSt"
          class={aClass}
          target="_blank">“Self vs. Other”</a
        > which explored anxiety and feelings of isolation in the shelter-in-place
        life. The third and final concert of the series, <a
          href="https://www.youtube.com/playlist?list=PLRDiqQA9ARRtZSPPrWyg8-Lr7pMooMbWw"
          class={aClass}
          target="_blank">"Reality"</a
        >, focused on feedback loops which harm our natural world. In 2019,
        Brett composed for a concert he co-curated with the ensemble Slow Wave,
        featuring new music for <a
          class={aClass}
          href="https://youtu.be/CbMFIUBiRjg"
          target="_blank">viola, clarinet, and piano</a
        >. In 2018, he curated and produced a concert for the quartet, End Times
        Ensemble, titled <a
          href="https://www.youtube.com/playlist?list=PLRDiqQA9ARRt5xNmiK0mdHk82Q1nw-Mx9"
          class={aClass}
          target="_blank">“Punk in Times of War”</a
        >, which featured Messiaen’s Quatuor pour la fin du Temps, Nick
        Vasallo’s When the War Began, and the premiere of Eastman’s <a
          href="https://youtu.be/qX9J_GU7hwI"
          class={aClass}
          target="_blank">MISMA</a
        >.
      </p>
      <p class={pClass}>
        As a performing musician, he cofounded, coproduced and played bass in
        sci-fi punk band <a
          href="https://youtu.be/cxE2yLfjLwc?si=sJkGvyU71x7XVS6c"
          class={aClass}
          target="_blank">Andy Human and the Reptoids</a
        >, and he currently plays drums for <a
          href="https://youtu.be/O7pCLNfe57U?si=uKTRY-XA5HwD_8br"
          class={aClass}
          target="_blank">The Aerosols</a
        >. He has toured throughout the United States and Europe in various
        groups. As a recording engineer, he has produced records by Bay Area
        underground bands including <a
          class={aClass}
          href="https://evernever-records.bandcamp.com/album/dragged-through-the-garden"
          target="_blank">Preening</a
        >, <a
          class={aClass}
          href="https://soundcloud.com/upset-the-rhythm/the-world-hot-shopper"
          target="_blank">The World</a
        >, <a
          class={aClass}
          href="https://andyhumanthereptoids.bandcamp.com/album/psychic-sidekick"
          target="_blank">AH & the Reps</a
        >, <a
          class={aClass}
          href="https://soundcloud.com/grazer-records/pang-young-professionals"
          target="_blank">Pang</a
        >, <a
          class={aClass}
          href="https://lenz.bandcamp.com/album/ways-to-end-a-day"
          target="_blank">Lenz</a
        >, and <a
          class={aClass}
          href="https://baus.bandcamp.com/album/idol-minds"
          target="_blank">Baus</a
        >, among others. He did sound design for and co-wrote (with Jon Raskin)
        the score for the feature-length film, <a
          href="https://www.amazon.com/Murder-Hi-Good-David-Nordstrom/dp/B08W8W7BRF"
          class={aClass}
          target="_blank">“The Murder of Hi Good”</a
        >, by filmmaker Lee Lorenzo Lynch.
      </p>
      <div class="flex justify-around p-2">
        <Profile
          imageMetaData={Headshot}
          alt="Picture of Brett Austin Eastman"
          name="Brett Austin Eastman"
        />
      </div>
      <p class="flex justify-around text-sm mb-4">Photo by Travis Woodland</p>
      <p class={pClass}>
        Brett was born in Redmond, WA on April 13, 1980. He grew up in Redding,
        CA before moving to San Francisco to study at San Francisco State
        University. He studied classical percussion with David Rosenthal, piano
        with Inara Morgenstern, and composition with <a
          href="https://www.richardfestinger.com/"
          class={aClass}
          target="_blank">Richard Festinger</a
        >, Josh Levine, and Carlos Sánchez-Gutiérrez.
      </p>
    </div>
  </div>
</MainLayout>
