---
// javascript written up here will be on the server side
import MainLayout from "../layouts/MainLayout.astro";
const ulClass = "mb-4 p-2";
const aClass = "border-b border-primary10 dark:border-primary70 hover:text-accentDark hover:border-none duration-200";

const pageTitle = "Production";
const description =
  "Here you will find a list of Brett Austin Eastman's various recordings and productions. ";
---

<MainLayout title={pageTitle} description={description}>
  <h3 class="flex justify-around uppercase text-4xl mt-4 pb-8">Production</h3>
  <div class="flex flex-col max-w-5xl m-auto">
    <div class="leading-relaxed text-lg md:text-xl">
      <ul class={ulClass}>
        <a
          class={aClass}
          href="https://lostlanesrecordings.bandcamp.com/album/the-murder-of-hi-good"
          target="_blank"><em>The Dick Burrill's - Waterfall the Fountain</em></a
        >, cassette (Lost Lanes Recordings – released June 6, 2025)
      </ul>
      <ul class={ulClass}>
        <a
          class={aClass}
          href="https://lostlanesrecordings.bandcamp.com/album/the-murder-of-hi-good"
          target="_blank"><em>The Murder of Hi Good - Soundtrack</em></a
        >, cassette (Lost Lanes Recordings – released September 2, 2022)
      </ul>
      <ul class={ulClass}>
        <a
          class={aClass}
          href="https://evernever-records.bandcamp.com/album/dragged-through-the-garden"
          target="_blank"><em>Preening – Dragged Through the Garden</em></a
        >, 12″ EP (Ever/Never Records – released February 5, 2021)
      </ul>
      <ul class={ulClass}>
        <a
          class={aClass}
          href="https://andyhumanthereptoids.bandcamp.com/album/psychic-sidekick"
          target="_blank"
          ><em>Andy Human and the Reptoids – Psychic Sidekick</em></a
        >, full-length LP (Total Punk – released February 5, 2019)
      </ul>
      <ul class={ulClass}>
        <a
          class={aClass}
          href="https://soundcloud.com/upset-the-rhythm/the-world-hot-shopper"
          target="_blank"><em>The World – First World Record</em></a
        >, full-length LP (Upset the Rhythm/Lumpy 2017)
      </ul>
      <ul class={ulClass}>
        <a class={aClass} href="https://youtu.be/aqXun83bywc" target="_blank"
          ><em>Andy Human and the Reptoids – Kill The Comma/Do The Mole</em></a
        >, 7″ single (Emotional Response 2017)
      </ul>
      <ul class={ulClass}>
        <a
          class={aClass}
          href="https://soundcloud.com/totalpunkrecords/andy-human-the-reptoids-refrigerator"
          target="_blank"
          ><em
            >Andy Human and the Reptoids – Refrigerator/You Don’t Even Know</em
          ></a
        >, 7″ single (Total Punk 2017)
      </ul>
      <ul class={ulClass}>
        <a
          class={aClass}
          href="https://soundcloud.com/goodbye-boozy-records/andy-human-and-the-repts-exist-in-piss"
          target="_blank"><em>Andy Human and the Reptoids – Pee Pee EP</em></a
        >, 7″ EP (Goodbye Boozy 2017)
      </ul>
      <ul class={ulClass}>
        <a
          class={aClass}
          href="https://youtu.be/1IAtSSf4la8?t=370"
          target="_blank"
          ><em>Andy Human and the Reptoids – tour tape ’16</em></a
        >, cassette (2016)
      </ul>
      <ul class={ulClass}>
        <a class={aClass} href="https://youtu.be/99-wbjzeIu4" target="_blank"
          ><em>Luke Sweeney – Red Hot Demands/Outer Limb</em></a
        >, 7″ single (Aerobic International 2016)
      </ul>
      <ul class={ulClass}>
        <a class={aClass} href="https://youtu.be/cxE2yLfjLwc" target="_blank"
          ><em>Andy Human and The Reptoids – Sarcastic/Shit And Grit</em></a
        >, 7″ single (Goodbye Boozy 2016)
      </ul>
      <ul class={ulClass}>
        <a class={aClass} href="https://youtu.be/cR47VnZcmn8" target="_blank"
          ><em>Andy Human and The Reptoids – S/T</em></a
        >, full-length LP (S-S/Sol Re Sol 2015)
      </ul>
      <ul class={ulClass}>
        <a
          class={aClass}
          href="https://dragontime.bandcamp.com/album/phantasmagoria"
          target="_blank"><em>Kephera Moon, aka Dragontime – S/T</em></a
        >, cassette (2015)
      </ul>
      <ul class={ulClass}>
        <a
          class={aClass}
          href="https://pennymachineoakland.bandcamp.com/album/s-t-tape"
          target="_blank"><em>Penny Machine – S/T</em></a
        >, cassette (2014)
      </ul>
      <ul class={ulClass}>
        <a
          class={aClass}
          href="https://baus.bandcamp.com/album/idol-minds"
          target="_blank"><em>BAUS – Idol Minds</em></a
        >, full-length LP (2014)
      </ul>
      <ul class={ulClass}>
        <a class={aClass} href="https://youtu.be/pvzSlsU12oE" target="_blank"
          ><em>Luke Sweeney – Tie Mao To Mined</em></a
        >, b-side to “Miss Me” single (2014)
      </ul>
      <ul class={ulClass}>
        <a
          class={aClass}
          href="https://soundcloud.com/grazer-records/pang-young-professionals"
          target="_blank"><em>PANG – Young Professionals</em></a
        >, 7″ EP (Grazer 2013)
      </ul>
      <ul class={ulClass}>
        <a
          class={aClass}
          href="https://freemusicarchive.org/music/The_Dick_Burrills/Never_Let_Go"
          target="_blank"><em>The Dick Burrill’s – Never Let Go</em></a
        > (Pleonasm 2014)
      </ul>
      <ul class={ulClass}>
        <a
          class={aClass}
          href="https://lenz.bandcamp.com/album/ways-to-end-a-day"
          target="_blank"><em>LENZ – Ways To End A Day</em></a
        >, full-length (1234Go! 2013)
      </ul>
      <ul class={ulClass}>
        <a
          class={aClass}
          href="https://lenz.bandcamp.com/album/under-neon"
          target="_blank"><em>LENZ – Under Neon</em></a
        >, 12″ EP (Tic Tac Totally 2012)
      </ul>
    </div>
  </div>
</MainLayout>

<script>
  // javascript written down here will be on the client side
</script>
