---
// javascript written up here will be on the server side
import MainLayout from "../layouts/MainLayout.astro";
const ulClass = 'mb-4 p-2';
const aClass = 'hover:border-b';
---

<MainLayout title="Selected Works">
  <h3 class="flex justify-around uppercase text-3xl mt-4 pb-8">Selected Works</h3>
  <div class="flex flex-col max-w-5xl m-auto">
    <div class="leading-relaxed text-lg">
      <ul class={ulClass}>
        <a class={aClass} href="https://youtu.be/J451WMaAms8"><em>Glimmer/Glow</em></a> for piano and percussion quartet (2021)
      </ul>
      <ul class={ulClass}>
        <a class={aClass} href="https://youtu.be/1y72j58PL-Y"><em>Passover</em></a> for flute (2020)
      </ul>
      <ul class={ulClass}>
        <a class={aClass} href="https://youtu.be/HyKHnJb5nfI"><em>In Response</em></a> for flute and fixed media (2019)
      </ul>
      <ul class={ulClass}>
        <a class={aClass} href="https://youtu.be/CbMFIUBiRjg"><em>Paraphrase</em></a> for bass clarinet, viola, and piano (2019)
      </ul>
      <ul class={ulClass}>
        <a class={aClass} href="https://youtu.be/S7T-7jmADfA"><em>Keepsake (for Rishi)</em></a> for amplified contrabass flute and contraforte (2018)
      </ul>
      <ul class={ulClass}>
        <a class={aClass} href="https://youtu.be/ym51ZzgkxN0"><em>La Musique</em></a> for flute and alto flute (2017)
      </ul>
      <ul class={ulClass}>
        <a class={aClass} href="https://youtu.be/qX9J_GU7hwI"><em>MISMA</em></a> for violin, clarinet, cello, and piano (2017)
      </ul>
      <ul class={ulClass}>
        <a class={aClass} href="https://soundcloud.com/brett-austin-eastman-1/mainframe-movements-4-5-6-7"><em>MAINFRAME</em></a> for string quartet (2016)
      </ul>
    </div>
  </div>
</MainLayout>

<script>
  // javascript written down here will be on the client side
</script>

<style lang="sass"></style>
